<h1>Genres</h1>

<ul>
  <% @genres.each do |genre| %>
  <li><%= link_to genre.name, genre_path(genre) %></li>
  <ul>
  <% genre.artists.each do |artist| %>
  <li>
    <%= link_to artist.name, artist.review, genre_artist_path(genre, artist) %>
  </li>
  <% end %>
</ul>
<% end %>
</ul>

<hr>

<%= link_to "Add New Genre", new_genre_path %>
